@use "../abstracts/colors";

html {
    box-sizing: border-box;
    font-size: 100%;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: colors.$font_color_primary;
    background: linear-gradient(180deg, colors.$dark_purple 13.02%, colors.$dark_blue 63.02%, colors.$blue 100%);
}