@use "../abstracts/colors";

html {
    box-sizing: border-box;
    font-size: 100%;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(160deg, colors.$soft-blue, colors.$light-pink 100%);
    background-size: cover;
    background-position: center 0%;
    position: relative;
    z-index: 2;
    // background: #fad4bf
  }