@use "../abstracts/colors";

html {
    box-sizing: border-box;
    font-size: 100%;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: colors.$font-color-primary;
    background: linear-gradient(180deg, colors.$dark-purple 10%, colors.$deep-ocean 35%, colors.$dark-blue 65%, colors.$blue 100%);
  }