@use "../abstracts/fonts";
@use "../abstracts/colors";

h1, h2, h3, a, p, span{
    font-family: fonts.$primary-font-family;
    font-weight: 400;
    color: colors.$font-color-primary;
    margin-top: 0;
}

a,
a:visited,
a:active{
    cursor: pointer;
    text-decoration: none !important;
}

.centeredText {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    vertical-align: middle;
    padding: 0.5vw;
  }