
$red: #AC0000;
$orange: #FB9934;
$yellow: #FAE089;
$blue: #1FADF1;
$dark-blue: #0258B9;
$deep-ocean: #1D2362;
$teal: #1C94AF;
$green: #72c234;
$purple: #6B40B1;
$dark-purple: #241042;
$pink: #FF87B2;
$dark-pink: #BB3B93;
$white: #FBE9EB;
$brown: #753A3A;
$font-color_primary: #522323